html,
body {
  height: 100%;
}

ul#navigation {
  list-style: none;
  margin: 0;
  padding-left: 0;
    display: flex;
    background-color: red;
}

ul#navigation li {
    padding: 15px;
}

ul#navigation a {
    text-decoration: none;
    color: white;
}

#content {
    box-sizing: border-box;
  min-height: 100%;
}

footer {
    float: bottom;
    text-align: center;
    background-color: red;
    color: white;
    height: 50px;
}