<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <header>
        <ul id="navigation">
            <li><a href="/">Главная</a></li>
            <li><a href="/classify">Классиификатор</a></li>
            <li><a href="/statistics">Статистика</a></li>
        </ul>
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        НИЯУ МИФИ 2019
    </footer>
</body>
</html>