{%  extends 'base.html' %}

{% block content %}
    {{ data }}
    {% for i in range(6) %}
        <h1>Кластер "{{ file_content[i]['title'] }}" содержит {{ file_content[i]['size'] }} статей</h1>
        {% for item in file_content[i]['items'] %}
            <h4>Название: {{ item['title'] }}</h4>
            <p>Автор: {{ item['author'] }}</p>
            <p>Университет: {{ item['university'] }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}